@media (min-width:400px){
    body h2{
        border-bottom: 5px solid rgb(233, 60, 21);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto 0 auto;
        padding-bottom: 7px;
        
    }
}
body h2{
    border-bottom: 5px solid rgb(233, 60, 21);
}
.cnt-main-header{
    padding: 1rem 0.5rem;
}
@media (min-width:800px){
    .cnt-main-header{
        padding: 2rem var(--side-space);
    }
}
.cnt-sect-1{
    text-align: center;
}
.cnt-sect-1 h1{
    color: rgb(37, 7, 0);
    margin-bottom: 2rem;
}
@media (min-width:950px){
    .cnt-sect1-grp-all{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: start;
                align-items: flex-start;
                padding: 2rem var(--side-space);
    }
    
}
.cnt-hero-img{
    width: 100%;
    height: auto;
}
.cnt-sect1-icon-grp img{
    width: clamp( 16px, 2.5vw, 36px);
    height: clamp( 16px, 2.5vw, 36px);
}
.cnt-sect1-icon-grp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items:center;
    margin-top: -1rem;
}
.cnt-sect1-icon-grp a{
    text-decoration: none;
    padding-left: 0.5rem;
    color: rgb(37, 7, 0);
}
.cnt-sect1-grp{
    margin-top: 1rem;
}
.cnt-form{
    margin: 2rem 1rem; 
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.993);
    -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
            box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
    
}
@media (min-width:950px){
    .cnt-form{
        margin-top: unset;
    }
}
.cnt-form h2{
    margin-bottom: 1.5rem;
    color: rgb(37, 7, 0);
}
.form-msg-field{
    height: 10rem;
    width: 95%;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin: 0.5rem;
    -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
            box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
    padding: 2rem;
    outline: none;
    caret-color: rgb(233, 60, 21);
    color: rgb(37, 7, 0);
}
form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

      
}
