.cnt-main-header{
    padding: 2rem 1rem;
}
.cnt-sect-1{
    text-align: center;
    padding: 1rem;
    width: 100%;
}
.cnt-sect-1 h1{
    color: rgb(37, 7, 0);
}
.cnt-sect1-grp-all{
    width: 98%;
    padding: 0 2%;
    margin-top: 2rem;
    /* padding: 2rem 3rem; */
      
}
@media (min-width:800px){
    .cnt-sect1-grp-all{
        display: flex;
    }
    
}
.cnt-hero-img{
    max-width: 100%;
    height: auto;
}
.cnt-sect1-icon-grp img{
    width: clamp( 16px, 2.5vw, 36px);
    height: clamp( 16px, 2.5vw, 36px);
}
.cnt-sect1-icon-grp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: -2rem
}
.cnt-sect1-icon-grp a{
    text-decoration: none;
    padding-left: 0.5rem;
    color: rgb(37, 7, 0);
}
.cnt-sect1-grp{
    margin-top: 2rem;
}
.cnt-form{
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.993);
    box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
    
}
.cnt-form h2{
    margin-bottom: 1.5rem;
    color: rgb(37, 7, 0);
    border-bottom: 5px solid rgb(233, 60, 21);
}
.form-msg-field{
    height: 10rem;
    width: 95%;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin: 0.5rem;
    box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
    padding: 2rem;
    outline: none;
    caret-color: rgb(233, 60, 21);
    color: rgb(37, 7, 0);
}
form{
    display: flex;
    flex-direction: column;
}