@media (min-width:400px){
    body h2{
        border-bottom: 5px solid rgb(233, 60, 21);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto 0 auto;
        padding-bottom: 7px;
    }
}
body h2{
    border-bottom: 5px solid rgb(233, 60, 21);
}
.services-header{
    min-height: 40rem;
   padding: 1rem 0.5rem 5rem 0.5rem;
}
@media (min-width:800px){
    .services-header{
        min-height: 25rem;
        padding: 2rem var(--side-space);
    }
}
.serv-header-text-grp{
    text-align: center;
}

@media (min-width:950px){
    .serv-header-text-grp{
        width: 50%;
        text-align: left;
    }
}
.serv-sect-1{
    background-color: rgba(113, 46, 30, 0.95);
    border-top-right-radius: 70px;
}
.serv-sect-1-outter{
    background-color: rgba(113, 46, 30, 0.15);
    border-top-right-radius: 50px;
    padding-top: 2rem
    
}
@media (min-width:650px){
    .serv-sect-1-outter{
        margin-top: 5rem;
    }
}
.serv-sect1-txt{
    padding: 2rem 1rem;
    text-align: center;
    line-height: 30px;
    color: white;
}
.serv-sect1-txt p{
    margin-top: 1rem;
}
@media (min-width:800px){
    .serv-sect1-txt{
        padding: 2rem var(--side-space) ;
    }
}
.serv-sect-2{
    text-align: center;
}
.serv-sect2-grp{
    margin: 3rem 1rem;
    background-color: rgba(148, 148, 148, 0.15);
    padding: 2rem;
    border-radius: 50px;
    -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
            box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
}
.serv-sect2-li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media (min-width:800px){
    .serv-sect2-li{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 2rem 2rem;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .serv-sect2-li img{
        width: 50%;
    }
}
.serv-sect2-grp ul{
    list-style-type: circle;
    padding: 1rem 0;
    list-style-position: outside;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media (min-width:800px){
    .serv-sect2-grp ul{
        margin: unset;
        font-size: 2vw;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
                  
    }
}

.serv-sect2-grp li{
    padding-bottom: 1rem;
}
.serv-sect2-li img{
    max-width: 100%;
    height: auto;
}
.serv-sect-3{
    background-color: rgba(37, 7, 0, 0.8);
    text-align: center;
    padding: 4rem 1rem 3rem 1rem;
    color: rgb(250, 244, 243);
    line-height: 30px;
}
.serv-sect3-link{
   color: rgba(251, 115, 83); 
}
.serv-sect-4{
    text-align: center;
    margin: 4rem 1rem;
    color: rgb(37, 7, 0);
}
.serv-sect4-body{
    margin-top: 1rem;
}
.serv-sect4-form{
    margin: auto;
}
.serv-sect-4 p{
    padding: 0 2rem;
}
input[type=text]{
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin: 0.5rem;
    color: rgba(37, 7, 0);
}
.serv-sect4-heading{
    margin-bottom: 1rem;
    padding: 0 2rem;
}