/* <<<<<<<<<--------------declare fonts------------>>>>>>>>>>>>>>>>>>>>> */

/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./assets/fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/roboto-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* <<<<<<<<<--------------finish declare fonts------------>>>>>>>>>>>>>>>>>>>>> */



html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
@media screen and (min-width: 320px) {
    html, button, .button {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html, .cta-button {
      font-size: 22px;
    }
  } 
 body{
    margin: 0;
    padding: 0;
    background-color: rgba(113, 46, 30, 0.1);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
} 
body h2{
    display: inline-block;
    border-bottom: 5px solid rgb(233, 60, 21);
}

 :root{
        --side-space: clamp(50px, 5vw, 100px);
 }
 h1{
     font-family: 'Roboto';
     font-style: regular;
     font-weight: 700;
     padding: 1rem 1rem 0 1rem;
 }
 @media (min-width:950px){
     h1{
         padding: unset;
     }
 }
.logo{
    display: inline-block;
     height: auto;
    max-width: clamp(100px, 25vw, 200px);
}
.nav-group{
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgba(37, 7, 0, 0.95);
    overflow-x: hidden; 
    padding-top: 60px; 
    -webkit-transition: 0.5s; 
    -o-transition: 0.5s; 
    transition: 0.5s; 
}  
@media (min-width:950px){
     .nav-group{
       all: unset;
   }
} 
.nav-item{
    display: block;
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    /* beginning of adding hover animation */
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}  
.nav-item:not(.cta-button)::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    height: 3px;
    background-color: rgb(233, 60, 21); 
    -webkit-transform: scaleX(0); 
        -ms-transform: scaleX(0); 
            transform: scaleX(0);
            -webkit-transform-origin: right;
                -ms-transform-origin: right;
                    transform-origin: right;
                    -webkit-transition: -webkit-transform 250ms ease-in;
                    transition: -webkit-transform 250ms ease-in;
                    -o-transition: transform 250ms ease-in;
                    transition: transform 250ms ease-in;
                    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
@media (min-width:950px){
    .nav-item:not(.cta-button)::after{
        background-color: rgb(113, 46, 30);
        bottom: -2px;
    }
}
.nav-item:not(.cta-button):hover::after{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    transform-origin: left;
}
@media (min-width:950px){
    .nav-item{
       display: inline;
        color: rgb(251, 115, 83);
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
        padding: 0 0.5rem;
    }
    .nav-bar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: -2rem;
    }
}
.closebtn {
    position: relative;
    top: -20px;
    right: 25px;
    font-size: 36px;
    margin-left: 220px;
    color: white;
    text-decoration: none;
   
  }
  .closebtn:hover{
      background-color: rgb(233, 60, 21);
      border-radius: 100px;
      padding: 5px;
  }
 
@media (min-width:950px){
      .closebtn{
          display: none;
      } 
}
.cta-button{
    display: inline-block;
    position: relative;
    border: 2px solid rgb(233, 60, 21);
    z-index: 1;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 100px;
    margin: 2rem 0rem;
    color: white;
    -webkit-transition: background-color 250ms ease-out;
    -o-transition: background-color 250ms ease-out;
    transition: background-color 250ms ease-out;
}
.cta-button:hover{
    background-color: rgb(233, 60, 21);
    color: white;
} 
@media (min-width:950px){
    .cta-button{
        margin-left: 3rem;
        border: 2px solid rgb(113, 46, 30);
        color: rgb(37, 7, 0);
    }
    .cta-button:hover{
        background-color: rgb(113, 46, 30);
    } 
}
#menu-icon{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(113, 46, 30);
    margin: 1.5rem 1.5rem 0 1rem;
   font-size: clamp(18px, 4vw, 30px);
}

@media (min-width:950px) {
    #menu-icon{
        display: none;
    }
    
}
.main-header{
    min-height: 40rem;
    background-image: url(assets/home-page-background.png);
    background-position:  right -200px top  -500px;
    padding: 1rem 0.5rem 5rem 0.5rem;
}
@media (min-width:950px){
    .main-header{
        min-height: 30rem;
        background-image: url(assets/home-page-background.png);
        background-position: top -500px right -380px;
        background-size: cover;
        padding: 2rem var(--side-space);
    }
}
.all-buttons{
    -webkit-transition: translate 250ms ease;
    -o-transition: translate 250ms ease;
    transition: translate 250ms ease;
}
.all-buttons:hover{
    -webkit-transform: translate(2px, 2px);
        -ms-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
}
.header-img{
    width: 100%;
    height: auto;
}
.header-img-cont{
    width: 100%;
}
@media (min-width:950px){
    .header-img-cont{
        width: 50%;
    }
}
.header-flexbox{
    height: 35rem;
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
   -ms-flex-pack: distribute;
       justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
           
}

@media (min-width:950px){
    .header-flexbox{
        height: 20rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
    }
}
.header-flexbox-cont{
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
    
}

@media (min-width:950px){
    .header-flexbox-cont{
        height: 20rem;
    }
}
.text-grp{
    text-align: center;
}

@media (min-width:950px){
    .text-grp{
        width: 50%;
        text-align: left;
    }
}

.header-text{
    color: rgb(37, 7, 0);
    font-weight: 500;
    line-height: 1.5;
}
.brown-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    margin: 2rem 0rem;
    background-color: rgb(113, 46, 30);
    border-color: none;
    color: white;
    display: inline-block;
    border-style: none;
}
.orange-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    margin: 1rem 0rem;
    background-color: rgb(233, 60, 21);
    border-color: none;
    color: white;
    display: inline-block;
    border-style: none;
    width: clamp(150px, 25vw, 250px);
    font-size: 17px;
}
.sect-1{
    background-color: rgba(113, 46, 30, 0.95);
    border-top-right-radius: 70px;
}
.sect-1-outter{
    background-color: rgba(113, 46, 30, 0.15);
    border-top-right-radius: 50px;
    padding-top: 2rem
}

.sect1-txt{
    padding: 0.5rem 1rem;
    text-align: center;
    line-height: 30px;
    color: white;
}
.sect1-txt p {
    margin-top: 1rem;
}
.sect-2{
    background-color: rgb(37, 7, 0, 0.8);
}
.sect2-body{
    padding: 5rem 0;
    margin: 0 3rem;
    text-align: center;
    color: white;
}
.sect2-img{
    width: 5rem;
    height: 5rem;
    fill: rgb(251, 115, 83);
}
.sect2-grp{
    margin-top: 3rem;
}

@media (min-width:800px){
    .sect2-grp-all{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 2rem var(--side-space);
    }
    .sect2-btn{
        margin-top: 2rem;
        width: 20%;
        padding: 1rem;
    }
}
.sect2-caption, .sect4-txt{
    margin-top: 1rem;
}
.sect3-body{
    padding: 2rem 2rem;
    margin: 5rem 1rem 2rem 1rem;
    text-align: center;
    line-height: 1.5;
    color: rgba(37, 7, 0);
    background-color: rgba(148, 148, 148, 0.15);
    border-radius: 50px;
    -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
            box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
}
@media (min-width:800px){
    .sect3-body{
        margin: 3rem var(--side-space);
    }
}
.sect3-grp, .sect3-name, .abt-sect3-grp, .abt-sect4-grp, .abt-sect3-name, .abt-sect4-name{
    margin-top: 2rem;
}
.sect-4{
    padding-top: 0.2rem;
}
@media (min-width:800px){
    .sect-4{
        margin: 4rem var(--side-space) 0 var(--side-space);
        padding-top: unset;
    }
}
.sect4-body, .sect5-body{
    text-align: center;
    margin: 2rem 1rem;
}
.sect4-heading{
    margin-bottom: 1rem;
}
.sect4-img{
    width: 100%;
    height: auto;
}
.sect4-grp{
    padding: 2rem 0;
}
@media (min-width:800px){
    .sect4-grp-all{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
    }
    .sect4-grp{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%;
        padding: 1rem;
        
    }
}
.sect-5{
    background-color: rgba(251, 115, 83, 0.05);
    padding: 0.5rem 0; 
    color: rgb(37, 7, 0);
}
.sect5-form{
    margin: auto;
}
input[type=text]{
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid #ccc;
    margin: 0.5rem;
    -webkit-box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
            box-shadow: 0 1rem 2rem -1rem rgba(0,0,0,0.2);
    outline: none;
    caret-color: rgb(233, 60, 21);
    color:rgba(37, 7, 0);
}
.sect5-heading{
    margin-bottom: .5rem;
}
.form-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    margin:  1rem;
    background-color: rgb(113, 46, 30);
    border-color: none;
    color: white;
    display: inline-block;
    border-style: none;
}
.sect5-body p, .serv-sect4-body p{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
}
.footer-sect-grp{
    padding-top: 2rem;
}
@media (min-width:800px){
    .footer-sect-grp{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem var(--side-space);
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
    }
    /* .footer-nav-grp{
        display: block;
    } */
}
.footer-sect{
    padding-top: 1rem;
}
.footer-icon{
    width: clamp( 30px, 3vw, 50px);
    height: clamp( 30px, 3vw, 50px);
    margin: 0 5px;
}
.footer-body-all{
    background-color: rgba(113, 46, 30, 0.15);
    padding-top: 2rem;
    border-top-left-radius: 50px;
    margin-top: 5rem;
}
.footer-body{
    text-align: center;
    padding-top: 4rem;
    color: white;
    background-color: rgba(113, 46, 30, 0.95);
    border-top-left-radius: 70px;
}
.footer-logo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.footer-footer{
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.footer-nav-item{
    margin: 0 auto 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: none;
    color: rgb(251, 115, 83);
    display: block;
    position: relative;
}  
.footer-nav-item::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: white;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transition: -webkit-transform 250ms ease-in;
            transition: -webkit-transform 250ms ease-in;
            -o-transition: transform 250ms ease-in;
            transition: transform 250ms ease-in;
            transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.footer-nav-item:hover::after{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left ;
        -ms-transform-origin: left ;
            transform-origin: left ;
}
.orange-underline{
    display: block;
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.orange-underline::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: rgb(233, 60, 21);
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transition: -webkit-transform 250ms ease-in;
            transition: -webkit-transform 250ms ease-in;
            -o-transition: transform 250ms ease-in;
            transition: transform 250ms ease-in;
            transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.orange-underline:hover::after{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left ;
        -ms-transform-origin: left ;
            transform-origin: left ;
}
.cta-txt{
    padding-top: 5rem;
}
.footer-space{
    padding: 0.5rem 0;
}